<div class="container">
  <dl-sidebar
  [isOpen]="isOpen"
  [isStaticBackdrop]="false"
></dl-sidebar>
  <dl-button (click)="buttonAlert()" variant="primary" label="Abrir alerta" size="md"></dl-button>
<dl-alertbanner
  [isOpen]="isOpen"
>
  <dl-alertbannermessage>
    Everything occured fine with your previous actions. Thanks you, I&apos;m
    just adding more 3 lines message here.
  </dl-alertbannermessage>
  <div class="dl-alert-banner-content-buttons">
    <dl-button
      variant="tertiary-inverse"
      size="xs"
      label="Secondary Action"
    ></dl-button>
    <div>.</div>
    <dl-button
      variant="tertiary-inverse"
      size="xs"
      label="Close Action"
    ></dl-button>
  </div>
</dl-alertbanner>

<div style="padding-top: 2rem;">
  <dl-cardproduct
  [image]="image"
  [description]="description"
  [price]="price"
  [discountPrice]="discountPrice"
  [stock]="stock"
  [width]="width"
  [name]="name"
  [discountPrice]="discountPrice"
></dl-cardproduct></div>
</div>